web/themes/react_example_theme
web/themes/rotem_linnovate_theme/js/dist_dev
web/my-site/*/*settings*.php
web/my-site/*/*services*.yml
web/my-site/*/files
web/my-site/*/public
web/my-site/*/private
web/my-site/*/files-public
web/my-site/*/files-private
web/my-site/*/translations
web/my-site/*/tmp
web/my-site/*/cache
web/vendor
web/core
web/modules/README.txt
web/modules/contrib
web/profiles/README.txt
web/my-site/development.services.yml
web/my-site/example.settings.local.php
web/my-site/example.sites.php
web/my-site/README.txt
web/themes/README.txt
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/.ht.router.php
web/autoload.php
web/composer.json
web/composer.lock
web/example.gitignore
web/index.php
web/INSTALL.txt
web/LICENSE.txt
web/README.txt
web/robots.txt
web/update.php
web.config
vendor/
node_modules/
composer.phar
composer
robo.phar
robo
drush.phar
drush
drupal.phar
drupal
